<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h4 class="pt-3">About Me</h4>
                <img src="assets/TrinadPassportImg_11zon.png" class="rounded-circle" width="256" height="256" />
                <p>
                    I am a highly motivated Computer Science graduate with strong experience in web development, problem-solving, and software quality improvement.I am skilled in MVC architecture, RESTful services and UI/UX development, 
                    consistently delivering responsive and secure solutions that enhance user experiences and business outcomes.
                </p>
            </div>

        </div>
        <!--Featured Projects-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h4 class="pt-3">Featured Projects</h4>
            </div>
        </div>
    </div>
</div>